* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'space-mono-reg';
}

:root {
  --shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.2);
}

@font-face {
  font-family: 'space-mono-reg';
  src: url('./assets/font/SpaceMono-Regular.ttf');
}

main {
  display: flex;
  position: relative;
  height: 100vh;
}

.notActive {
  display: none;
}

button {
  cursor: pointer;
  transition: 0.25s ease all;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  &:hover {
    background-color: #272727;
    color: white;
  }
}

aside {
  background-color: rgb(84, 84, 215);
  min-width: 20vw;
  min-height: 100vh;
  padding: 2rem;

  .nav_buttons {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;

    a {
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 0.2rem;
      text-decoration: none;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      transition: 0.15s ease all;
      &:hover {
        background-color: rgb(34, 81, 97);
      }
    }
  }
}

.home {
  background-color: #cacaca;
  width: 100%;
}

.table_page {
  padding: 2rem;
  width: 100%;
}

.login,
.signup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 1rem;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);

  input {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #cacaca;
    margin-block: 0.5rem;
  }
}

.inputForm {
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
    flex-direction: column;
    position: relative;
    div {
      display: flex;
      flex-direction: column;

      input,
      select {
        padding: 0.5rem 1rem;
        border-radius: 0.7rem;
        border: none;
        background-color: #cacaca50;
        min-width: 450px;
      }
    }

    .closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      background: white;

      &:hover {
        color: #272727;
        background-color: #cacaca20;
      }
    }
  }
  button {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

.graph_page {
  width: 100%;

  .graph_expense,
  .graph_income {
    height: 500px;
  }
}
